html,
body{
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
:active, :hover {
    outline: none;
}
p, span {
    font-size: .875rem;
    letter-spacing: .2px;
}
label {
    display: inline-block;
    margin-bottom: 0;
}
a {
    background-color: transparent;
    color: rgba(59, 57, 55, .25);
    text-decoration: none;
    font-size: .875rem;
    letter-spacing: .2px;
}


div.datos{
    border: 1px solid lightgrey;
    background: #DBF0F6;
}
.datos label{
    color: black;
}
#contactoUser h1{
    margin-top: 8rem!important;
    font-size: 2em!important;
}
#contactoUser .h2{
    font-size: 1em!important;
}
#contactoUser .custom-file-label::after{
    background-color: #0099cc;
    color: white;
    font-weight: 900;
}
/*MEDIA QUERIES CONTENEDOR PRINCIPAL-----------------------------------------------*/

@media (max-width: 576px){
    .my_container{
        padding-left: .5em;
        padding-right: .5em;
    }
}
@media (min-width: 576.1px) and (max-width: 768px){
    .my_container{
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-width: 768.1px) and (max-width: 992px){
    .my_container{
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-width: 992.1px) and (max-width: 1200px){
    .my_container{
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-width: 1200px){
    .my_container{
        padding-left: 10em;
        padding-right: 10em;
    }
}

/* ------------- fin queries cont principal-------------------------*/